
@media all and (display-mode: fullscreen) {
    ion-fab{
        position: absolute;
        bottom: 50px;
    }
  }
  @media not all and (display-mode: fullscreen) {
    ion-fab{
        position: absolute;
        bottom: 30px;
    }
  }
 



.add-button{
    --border-radius: 15px !important;
    --background: tomato;
    width: 50px;
    height: 50px;
    h1{
        font-size: 40px;
        font-weight: 600;
        margin: 0;
        margin-top: -5px;
    }
}
.second-tab{
    margin-right: 30px;
}
.tab-selected{
    color: tomato;
}