<ion-tabs>
  <ion-tab-bar slot="bottom" class="tabbar">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="invoices" class="second-tab">
      <ion-icon name="albums"></ion-icon>
      <ion-label>Invocies</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="stats-chart"></ion-icon>
      <ion-label>Statistics</ion-label>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="menu"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<ion-fab vertical="bottom" horizontal="center" slot="fixed" edge="false">
  <ion-fab-button class="add-button" type="button">
      <h1>+</h1>
  </ion-fab-button>
</ion-fab>