<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Floosy
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Floosy App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card dir="rtl" class="balance">
    <ion-card-header>
<h1>رصيدك</h1>     
 <ion-card-title>1,130,820 ج.م</ion-card-title>
    </ion-card-header>
  </ion-card>
  

  <div id="container">
  <h1>Welcome To <span style="color: tomato;">Floosy</span> Wallet App</h1> 
  <h1>أهلاً بكم في تطبيق <span style="color: tomato;">فلووسي</span></h1> 
  <p>جاري تطوير التطبيق</p>
  <p>تابعنا على <a href="https://facebook.com/microsmsmx">🔗 الفيسبوك</a> لتعلم كل التفاصيل</p>
</div>
</ion-content>
